<div class="container ">
    <ul class="breadcrumb">
        <li><a href="/" title="home">Home</a></li>
        <li class="active">{{ country }}</li>
    </ul>

    <div class="row">
        <div class="col title text-light rounded-3 ">
            <h2>{{ country }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col subtitle rounded-3">Number of entries<br /> {{ participationsCount }}</div>
        <div class="col subtitle rounded-3">Total number medals <br /> {{ medalsCount }}</div>
        <div class="col subtitle rounded-3">Total number of athletes <br /> {{ athleteCount }}</div>
    </div>

    <div>
        <!-- display element when ev (status) is true -->
        <div class="chart">
            <div *ngIf="ev">
                <app-line-chart [labels]='aOlympicServiceLabels' [data]='aOlympicServiceData'></app-line-chart>
            </div>
        </div>
    </div>
</div>